body {
  background: #1d4579;
  color: white;
  font-family: sans-serif;

}

.control {
  background: rgba(0, 0, 0, 0.6);
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;

  h3 {
    width: 100%;
    text-align: center;
  }

  input {
    width: 25rem;
  }
}